<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./styles.css">
  <title>Document</title>
</head>
<body>

<form class="form" action="/weather" method="get">
  <h3>Open Weather</h3>
  <div class="container">
    <input class="input" type="text" name="city" placeholder="Enter city name">
    <button class="btn" type="submit"><img class="image" src="./images/search.png" alt=""></button>
  </div>
</form>

</body>
</html>