body {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid black;
    border-radius: 20%;
    width: 300px;
    background-color: lightskyblue;
}

.input {
    height: 20px;
    border-radius: 10px;
    outline: none;
}

.btn {

}

.image {
    height: 20px;
}